body {
    background-image: url('./image-1.jpg');
    background-size: 100%;
}
title {
    background-color: blueviolet;
}

.results{
    background-color: rgba(255, 99, 71, 0.094);
}

.display-color-result, .display-animal-result{
    color:lime
}